#clock-time{
background-color: white;
color: black;
padding: 2vw 2vw ;
text-align: center;
width: 30%;
margin: auto;
border-radius: 0.5vw;
margin-bottom: 1vw;
font-size: 2vw;
}

#new-alarm-form{
    background-color: #edad2d;
    padding: 2vw 2vw;
    text-align: center;
    width: 40%;
    margin: auto;
    border-radius: 0.5vw;
}

#item-input{
    padding: 0.5vw 0.5vw;
}
#button-input{
    padding: 0.5vw 0.5vw;
}


.alarms-list{
   margin: 3vw;
   width: 50%;
   letter-spacing: 10px;
    overflow-y: scroll;
    position: relative;
}

.list-group-item{
    background-color: rgb(214, 60, 60);
    margin-bottom: 0.5vw;
}

#alarm-text{
    color: white;
    margin: 3vw;
    font-size: 1.5vw;
}








